<div>
  <h2>新增用户</h2>
</div>
<hr>
<form class="container-sm" style="margin: 40px 0px 0px 0px">
  <div class="mb-3 row">
    <label for="name" class="col-sm-2 col-form-label">姓名：</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="name" [(ngModel)]="user.name" id="name">
      <small class="text-danger"
             *ngIf="user.name === ''">
        姓名不可为空
      </small>
    </div>
  </div>
  <div class="mb-3 row">
    <label for="username" class="col-sm-2 col-form-label">用户名：</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" name="username" [(ngModel)]="user.username" id="username">
      <small class="text-danger"
             *ngIf="user.username === ''">
        用户名不可为空
      </small>
    </div>
  </div>
  <div class="mb-3 row" style="margin: 20px 0px 0px 0px">
    <div class="col-sm-3 offset-sm-1" style="margin: 0px 0px 0px 200px">
      <button class="btn btn-primary" (click)="onSubmit()"
              [disabled]="user.name === '' ||
              user.username === ''"><i class="fa fa-save"></i>保存
      </button>
    </div>
    <div class="col-sm-3 offset-sm-1">
      <button mat-button class="btn btn-secondary" (click)="onNoClick()">取消</button>
    </div>
  </div>
</form>

